<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <main>
            <header>
                <h1>LOGO</h1>
                <img th:src="@{/img/loginIcon.svg}" alt="Login icon" id="loginIcon">
            </header>

            <section>
                <h4>Login</h4>
                <form action="/login" method="POST">
                    <div class="input-container">
                        <input type="text" id="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="input-container">
                        <input type="password" id="password" name="password" placeholder="Password" required>
                    </div>
                    <button type="submit">Continue</button>
                    <p>New to LOGO? <a href="#">Register</a></p>
            </section>

        </main>
    </body>

</html>