<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Login</title>

        <script th:src="@{/js/login.js}" defer></script>
        <link th:href="@{/css/auth.css}" rel="stylesheet">
    </head>
    <body>
        <main>
            <header>
                <h1>LOGO</h1>
                <img th:src="@{/img/loginIcon.svg}" alt="Login icon">
            </header>

            <section>
                <h4>Login</h4>
                <form id="loginForm">
                    <input type="text" id="username" placeholder="Username" required>
                    <input type="password" id="password" placeholder="Password" required>
                    <button type="submit" id="submitBtn">Continue</button>
                    <p>New to LOGO? <a href="/signup">Sign Up</a></p>
                </form>
                <div id="errorMessage" class="error-message"></div>
                <div id="successMessage" class="success-message"></div>
            </section>
        </main>
    </body>
</html>